{% extends "base.html" %}

{% block title %}Cloudbox{% endblock %}

{% block content %}
<main class="explorer">
    <div class="sidebar panel"></div>

    <div class="topbar panel"></div>

    <div class="files panel">
        <a class="file-item">
            <i class="fa-solid fa-folder"></i> Apps
        </a>
        <a class="file-item">
            <i class="fa-solid fa-folder"></i> Documents
        </a>
        <a class="file-item">
            <i class="fa-solid fa-folder"></i> Photos
        </a>
        <a class="file-item">
            <i class="fa-solid fa-folder"></i> Definitely_Not_Suspicious
        </a>
        <a class="file-item">
            <i class="fa-solid fa-image"></i> Naked Martin.jpg
        </a>
        <a class="file-item">
            <i class="fa-solid fa-image"></i> sunset_final_FINAL2.png
        </a>
        <a class="file-item">
            <i class="fa-solid fa-file-pdf"></i> Very_Important_Document.pdf
        </a>
        <a class="file-item">
            <i class="fa-solid fa-file-word"></i> homework_i_forgot.docx
        </a>
        <a class="file-item">
            <i class="fa-solid fa-file-code"></i> definitely_not_malware.py
        </a>
        <a class="file-item">
            <i class="fa-solid fa-file-code"></i> spaghetti.js
        </a>
        <a class="file-item">
            <i class="fa-solid fa-file-lines"></i> thoughts.txt
        </a>
        <a class="file-item">
            <i class="fa-solid fa-file-lines"></i> TODO.txt
        </a>
        <a class="file-item">
            <i class="fa-solid fa-file-zipper"></i> important_stuff.zip
        </a>
        <a class="file-item">
            <i class="fa-solid fa-music"></i> epic_song.mp3
        </a>
        <a class="file-item">
            <i class="fa-solid fa-video"></i> cat.mp4
        </a>
        <a class="file-item">
            <i class="fa-solid fa-file"></i> why_does_this_exist
        </a>
        <a class="file-item">
            <i class="fa-solid fa-file"></i> Untitled
        </a>
    </div>

    <div class="preview panel">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2jzrmWPh82Qbx073CJoJSPcF-FpWbA8W7d8Wy-ZOf5dM7Y0BIelDNnTs&s=10" alt="">
    </div>

    <div class="bottombar panel"></div>
</main>
{% endblock %}