
:root {
    --background-color: #161616;

    --panel-background-color: #292929;
    --panel-background-color-light: #3a3a3a;
    
    --button-background-color: #e2e2e2;
    --button-text-color: #383838;

    --text-color: #e2e2e2;
    --text-active-color: #e4e4e4;

    --panel-border-radius: 24px;

    --color-danger: #c91d12;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf");
}

* {
    font-family: "Ubuntu";
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

input,
textarea,
button {
    font: inherit;
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;

    background-color: var(--panel-background-color);
    color: var(--text-color);

    border: 1px solid #444;
    border-radius: 6px;

    padding: 12px 14px;
    min-height: 44px;
}

button {
    width: 100%;
    box-sizing: border-box;

    background-color: var(--button-background-color);
    color: var(--button-text-color);

    border: none;
    border-radius: 6px;

    padding: 12px 20px;
    min-height: 44px;

    cursor: pointer;
}

.panel {
    background-color: var(--panel-background-color);
    border-radius: var(--panel-border-radius);
    padding: 20px;
}


.login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-form.error {
    animation-name: shakeX;
}

.login-form.error input {
    border-color: var(--color-danger);
}

.login-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.explorer {
    display: grid;
    grid-template-areas: 
        "sidebar topbar topbar"
        "sidebar files preview"
        "bottombar bottombar bottombar";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 64px 1fr 64px;
    gap: 24px;
    padding: 24px;
    height: 100vh;
    
}

.sidebar {
    grid-area: sidebar;
}

.topbar {
    grid-area: topbar;
}

.files {
    grid-area: files;
    min-height: 0;
    overflow-y: auto;
}

.files a.file-item {
    display: flex;
    align-items: center;
    font-size: 22px;
    padding: 8px;
    border-radius: 16px;
}

.files a.file-item:hover {
    background-color: var(--panel-background-color-light);
}

.files a.file-item.active {
    background-color: var(--panel-background-color-light);
}

.files a.file-item i {
    margin-right: 16px;
    font-size: 26px;
    width: 26px;
}

.preview {
    grid-area: preview;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview img {
    width: 100%;
}

.bottombar {
    grid-area: bottombar;
}